<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div *ngFor="let d of queryData | async">
    <div class="row_main" *ngIf="d.type=='section'">
      <div class="row_one">{{d.name}}</div>
      <div class="row_second" *ngFor="let s of d.item">
        <div *ngIf="s.name==='Overall'">
          <button type="button" [id]="d.name+s.name" class="btn black-background" (click)="onButtonClick(s.stateOption,d.name+s.name, d)"
            *ngIf="s.type==='RADIO'">{{s.state}}</button>
          <div *ngIf="s.type==='TEXT'" contenteditable="true" [appContenteditableModel]="" (contenteditableModelChange)="onContentUpdate($event, s.state)">
            {{s.state}}
          </div>
        </div>
        <div class="row_right" *ngIf="s.name!=='Overall'">
          <button type="button" [id]="d.name+s.name" class="btn black-background" (click)="onButtonClick(s.stateOption,d.name+s.name, d)"
            *ngIf="s.type==='RADIO'">{{s.state}}</button>
          <div *ngIf="s.type==='TEXT'" contenteditable="true" [appContenteditableModel]="" (contenteditableModelChange)="onContentUpdate($event, s.state)">
            {{s.state}}
          </div>
        </div>
        <div class="row_left" *ngIf="s.name!=='Overall'">{{s.name}}</div>
      </div>
    </div>
    <div class="row_main" *ngIf="d.type=='statement'">
      <div class="row_one">{{d.name}}</div>
      <div class="row_second">{{d.item[0].state}}</div>
    </div>
    <div class="row_main" *ngIf="d.type=='table'">
      <div class="row_one">{{d.name}}</div>
      <p></p>
      <table class="row_main_edit">
        <thead>
          <tr>
            <th class="grey no-bold" *ngFor="let head of d.heading">{{head}}</th>
          </tr>
        </thead>
        <tbody class="row_main_edit_tbody">
          <tr *ngFor="let item of d.item[0].stateOption">
            <td *ngFor="let list of item | keys">
              <div contenteditable="true" [appContenteditableModel]="item[list]" (contenteditableModelChange)="onContentUpdate($event, item[list])">
                {{item[list]}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="suggestImpression()">Suggest Impression</button>
</div>